.navbar {
  margin-bottom: 1%;
  border-radius: 15px;
  box-shadow: 0 0 15px rgb(25, 147, 196);
  border: none;
  padding: 5px;
  margin-top: 0.5%;
  text-align: center;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1000;
}

a {
  cursor: pointer;
}

canvas {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #068cca;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(6, 140, 202, 0.6);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
  background-color: #055c99;
  box-shadow: 0 0 15px rgba(6, 140, 202, 0.8);
}