<div class="container mt-4">
  <h1 class="text-center">Editar Cliente</h1>

  <div *ngIf="errorMessage" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" class="form-control" formControlName="nome" />
      <div *ngIf="clientForm.get('nome')?.invalid && clientForm.get('nome')?.touched" class="text-danger">
        O nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" class="form-control" formControlName="email" />
      <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
        O email é obrigatório e deve ser válido.
      </div>
    </div>

    <div class="form-group">
      <label for="telefone">Telefone</label>
      <input type="text" id="telefone" class="form-control" formControlName="telefone" />
    </div>

    <div class="form-group">
      <label for="empresa">Empresa</label>
      <input type="text" id="empresa" class="form-control" formControlName="empresa" />
    </div>

    <div class="form-group">
      <label for="solicitacao">Solicitação</label>
      <textarea id="solicitacao" class="form-control" formControlName="solicitacao"></textarea>
      <!-- Verifique se o valor aparece corretamente no campo
      <div *ngIf="clientForm.get('solicitacao')?.touched">
        Valor atual: {{ clientForm.get('solicitacao')?.value }}
      </div>-->
    </div>

    <button type="submit" class="d-flex justify-content-center mt-3 btn btn-success"
      [disabled]="clientForm.invalid">Salvar</button>
  </form>
</div>