<div class="container mt-5">
    <h1>Lista de Orçamentos</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Data de Geração</th>
                <th>Prazo Estimado</th>
                <th>Status</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iteração sobre a lista de orçamentos -->
            <tr *ngFor="let orcamento of orcamentos">
                <td>{{ orcamento.id }}</td>
                <td>{{ orcamento.dataGeracao }}</td>
                <td>{{ orcamento.prazoEstimado }}</td>
                <td>{{ orcamento.status }}</td>
                <td>{{ orcamento.valor | currency: 'BRL' }}</td>
            </tr>
        </tbody>
    </table>
</div>